footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #221d23;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
    height: 50px;
    align-items: center;
    

    .legal{
        
        p{
            display: inline-block;
            padding: 0 5px;
        }
    }
}