// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .header{
        background-image: url('../img/bg-hero.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 50vh;
    }
    .texto{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        justify-content: center;
        padding-left: 15px;
        width: 90%;
        height: 200px;

        h1{
            font-size: 30px;
            font-weight: 700;
            padding-bottom: 10px;
        }

        p{
            font-size: 11px;
        }
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .header{
        background-image: url('../img/bg-hero.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 60vh;
    }
    .texto{
        display: flex;
        flex-flow: column wrap;
        align-content: flex-end;
        justify-content: flex-end;
        width: 480px;
        height: 160px;

        h1{
            font-size: 40px;
            padding-bottom: 10px;
        }
    
        p{
            font-size: 15px;
        }
    }
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .header{
        background-image: url('../img/bg-hero.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 70vh;
    }
    .texto{
        display: flex;
        flex-flow: column wrap;
        align-content: flex-end;
        justify-content: flex-end;
        width: 610px;
        height: 200px;

        h1{
            padding-bottom: 10px;
            font-size: 50px;
        }

        p{
            font-size: 25px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .header{
        background-image: url('../img/bg-hero.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 100vh;
    }
    
    .texto{
        display: flex;
        flex-flow: column wrap;
        align-content: flex-end;
        justify-content: flex-end;
        width: 720px;
        height: 250px;

        h1{
            padding-bottom: 10px;
            font-size: 60px;
        }

        p{
            font-size: 25px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .header{
        background-image: url('../img/bg-hero.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 90vh;
    }
    
    .texto{
        display: flex;
        flex-flow: column wrap;
        align-content: flex-end;
        justify-content: flex-end;
        width: 740px;
        height: 250px;
        
        h1{
            padding-bottom: 10px;
            font-size: 60px;
        }

        p{
            font-size: 25px;
        }
    }
}


