.flex-container {
    // border: 1px solid black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: black;
  }
  
.titulografi{
    font-size: 30px;
    padding-bottom: 50px;
}

.contenedoGraf{
    display: flex;
    flex-flow: row wrap;
    // padding: 20px;
    .textoGrafico{
        margin-left: 60px;
        h1{
            font-size: 30px;
            padding-bottom: 10px;
        }
        p{
            font-size: 15px;
        }
    }
    .grafico{
        text-align: center;
    }
}
