.flex-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: black;
}
  
.titulografi{
    font-size: 30px;
    padding-bottom: 50px;
}

.contenedoGraf{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    .textoGrafico{
        margin: 20px;
        h1{
            font-size: 30px;
            padding-bottom: 10px;
        }
        p{
            font-size: 15px;
        }
    }
}
